.main--content{
    .content__body{
        padding: 45px 0;

        @media (min-width: 1200px){
            padding: 85px 0 85px 0;
        }

        .block-chart-shareholders{
            margin-bottom: 65px;
            &.bg-white{
                background-color: #fff;
                box-shadow: 0px 3px 30px #0000000F;
            }
        }
        
    }

    .content__wrapper{
        padding: 45px 0;

        @media (min-width: 1200px){
            padding: 80px 0;
        }
    }

    .table--shareholder{
        thead{
            tr{
                th{
                    border: none;
                    text-align: center;
                    vertical-align: middle;
                    &:first-child{
                        position: relative;
                        min-width: 50px;

                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            z-index: 0;
                            background-image: url('../images/bg-table-left.png');
                            background-position: top left;
                            background-repeat: no-repeat;
                            //transform: rotate(180deg);
                        }
                    }

                    &:not(:first-child){
                        border-right: solid 1px white;
                    }
                }
            }
        }

        tbody{
            tr{
                td{
                    &:nth-child(1){
                        text-align: center;
                    }
                    &:nth-child(2){
                        padding-left: 3rem;
                        text-align: left;
                    }
                    &:nth-child(3){
                        text-align: right;
                    }
                    &:nth-child(4){
                        color: #6D6D6D;
                        text-align: right;
                    }

                    &:last-child:not([colspan]){
                        background-color: rgba($color: #1294A6, $alpha: 0.05);
                    }
                }

                &.table__highlight{
                    background-color: rgba($color: #6D6D6D, $alpha: 0.05);
                    td{
                        &:nth-child(2){
                            padding-left: .75rem;
                        }
                    }
                }
            }
        }

        tfoot{
            tr{
                td{
                    &:nth-child(1){
                        text-align: center;
                    }
                    &:nth-child(2){
                        text-align: left;
                    }
                    &:nth-child(3){
                        text-align: right;
                    }
                    &:nth-child(4){
                        font-weight: 700;
                        color: #6D6D6D;
                        text-align: right;
                    }
                    &:last-child:not([colspan]){
                        background-color: rgba($color: #1294A6, $alpha: 0.05);
                    }
                }
            }
        }
    }

    .card--major-shareholders{
        //margin-bottom: 50px;

        @media (min-width: 1200px){
            //margin-bottom: 100px;
        }

        .chart__style{
            position: relative;
            width: 100%;
            min-height: 300px;
            border-bottom: 1px solid #dee2e6;

            @media (min-width: 1200px){
                padding: 0;
                padding-right: 20px;
                border: none;
                border-right: 1px solid #dee2e6;
            }
            @media (max-width: 1199px){
                margin-bottom: 15px;
            }
            @media (max-width: 767px){
                min-height: 450px;
            }
            @media (max-width: 575px){
                min-height: 500px;
            }
        }

        .card__wrapper{
            display: flex;
            flex-direction: column;
            align-self: center;
            padding: 16px 0;

            @media (min-width: 1200px){
                padding: 16px 24px 24px 12px;
                &--freefloat{
                    border-bottom: 1px solid #dee2e6;
                }
            }
        }

        .card__head{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 24px;

            @media (min-width: 1200px){
                flex-flow: row wrap;

                span{
                    padding-left: 2.5rem;
                }
            }
            @media (max-width: 1199px){
                justify-content: space-between;
            }
            @media (max-width: 992px){
                justify-content: flex-start;
                //flex-flow: column wrap;
                span{
                    padding-left: 2.5rem;
                }
            }
            @media (max-width: 575px){
                flex-flow: column wrap;
                justify-content: flex-start;
                span{
                    padding-left: 0;
                }
            }

            h2{
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 1.325rem;
                line-height: 1.75rem;
            }

            span{
                text-transform: capitalize;
                font-weight: 400;
                font-size: 0.875rem;
                color: #404142;
            }
        }

        .card__block{
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 16px;

            &:last-child{
                margin-bottom: 0;
            }

            @media (min-width: 768px){
                flex-flow: row wrap;
            }
        }

        .card__title{
            font-weight: 500;
            text-transform: capitalize;
            font-size: 1rem;
            line-height: 1.25rem;
            color: black;
        }

        .card__text{
            font-size: 1rem;
            line-height: 1.25rem;
            color: #6D6D6D;
        }
    }

    //Cards
    .card--news{
        border-radius: 0;
        padding: 23px 25px 42px;
        margin-bottom: 30.5px;
        border-bottom: 1px solid #24e0e0;
        background-color: white;
        box-shadow: 0px 0px 10px #0000001A;
        transition: all .3s ease-out;
      
        .card__title{
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #071866;
            transition: color .3s ease-out;
        }
      
        .card__date{
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 2.4375rem;
            letter-spacing: 0.6px;
            color: #1294A6;
            transition: color .3s ease-out;
        }

        &:hover{
            text-decoration: none;
            background-color: #1294a6;

            .card__title{
                color: white;
            }

            .card__date{
                color: white;
            }
        }
    }

    //Form Input
    .form-group{
        &--text{
            .form-control{
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                padding: .5625rem 3rem .5625rem 1.5rem;
            }

            &:after {
                font-family: Font Awesome\ 5 Pro;
                font-weight: 300;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                content: "\f002";
                position: absolute;
                bottom: 50%;
                right: 1.5rem;
                font-weight: 500;
                font-size: 1rem;
                color: #1294a6;
                transform: translateY(50%);
            }
        }
    }

    .text__note{
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #404142;
    }

    //Pagination
    .pagination {
        justify-content: center;
      }
      
      .pagination .page-item{
        margin: 0 10px
      }
      
      .pagination .page-item .page-link {
        border: none;
        background-color: white;
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2.5px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #6D6D6D;

        &:hover{
            color: #1294a6;
        }
      }
      
      .pagination .page-item .page-link--prev {
        font-size: 2.5rem !important;
      }
      
      
      @media(max-width:991.98px) {
        .pagination .page-item .page-link--prev {
            display: flex
        }
      }
      
      .pagination .page-item .page-link--next {
        font-size: 2.5rem !important;
      }
      
      @media(max-width:991.98px) {
        .pagination .page-item .page-link--next {
            display: flex
        }
      }
      
      .pagination .page-item.disabled .page-link {
        background-color: transparent;
        border-color: transparent;
        color: #939598
      }
      
      .pagination .page-item.active .page-link {
        color: #1294a6;
      }
      
      @media(max-width:991.98px) {
        .pagination .page-item.active .page-link {
            display: flex
        }
      }
}